body {
	background-color: darkgray;
}

h1{
	color: red;
	text-align: center;
	font-size: 45px;

}

p{
	text-align: center;
	margin-bottom: 30px;

}

img {
	margin-left: 60px;
	border: 4px;

.red {
	color: red;

}